[Unit]
Description=Kaboomer Music Player
After=network.target sound.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/kaboomer
ExecStart=/home/pi/kaboomer/kaboomer -port :8080
Restart=always
RestartSec=10
Environment=PATH=/usr/local/bin:/usr/bin:/bin

[Install]
WantedBy=multi-user.target



